

.cours h1{
    font-size: 2.34375rem;
    font-weight: 300;
    display: block;
    font-size: 2em;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    // text-align: center;
    // margin-block-start: 0.67em;
    // margin-block-end: 0.67em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
}
.cours {
    padding-left: 30px;
    // text-align: center;
    border-top: 20px solid transparent;
    border-top-width: 20px;
    border-top-style: solid;
    border-top-color: transparent;
}
.card {
    width: 500px;
    display: block;
    text-align: center;
}
// .example-card{
//     padding-top: 10px;
// }
.example-card {
    // text: middle;
    text-align: center;
    // width: 1320px;
        min-width: 900px;
        height: 350px;

  }
// .example-label {
//     display: table-cell;
//     font-size: 14px;
//     margin-left: 8px;
//     min-width: 120px;
//   }
  .example-card div{
    padding: 10px;
  }
// .side-bar-left {
//     margin-top: 63px;
//     position: fixed;
//     width: 160px;
//     height: 100%;
// }

// .container {
//     min-width: 10.5%;
//     background-color: rgb(54, 0, 141);
// }

// .top {
//     margin-top: 25%;
//     width:30%;
//     // position: fixed;
//     // top: 0;
//     // left: 0;
//     // right: 0;
// }

// .button {
//     font-family: Lucida;
//     background-color:  rgb(54, 0, 141);
//     border: none;
//     color: white;
//     width: 335%;
//     padding:  90% 72%;
//     text-align: center;
//     // text-decoration: none;
//     // display: inline-block;
//     font-size: 160%;
//     // margin: 14px 12px;
//     // cursor: pointer;
// }

// .button:hover {
//     background-color:  rgb(76, 22, 163);
//     color: white;
// }

// .sidenav-catalogue{
//     margin-left: 150px;
//     margin-top: 63px;
//     position: fixed;
//     width: 160px;
//     height: 100%;
//     background-color:  rgb(76, 22, 163);

// }




// .image{
//     // padding-top: 110px;
// }p
.header {
//   padding: 0.2%;
  position: fixed;
height: 40px;
// padding-top: 30px;
    // position: fixed;
    // height: auto;
  text-align: center;
  background: #cccccc;
  color: white;
  width: 100%;

//   font-size: 30px;
}
// .header h1 {
//     font-family: Helvetica;
//     margin-top:  15px;
// }

.side-bar-left {
    margin-top: 39px;
    position: fixed;
    // min-width: 00px;
    height: 100%;
}
.container {
    // margin-top: 1px;
    // margin-top: 39px;
    // position: fixed;
    // width: 10px;
    // height: 100%;
    min-width: 75px;
    background-color: #333333;
}
.top {
    width: 45px;
    position: fixed;
    margin-top: 63px;

    top: 0;
    left: 0;
    right: 0;
}
.tool-container{
    width: 200px;
    display: flex;
    background-color: #555555;
   
}
.button {
    font-family: Lucida;
    // background-color:  rgb(3, 34, 76);
    border: none;
    color: white;
    width: 70px;
    padding:  50% ;
    text-align: center;
    // text-decoration: none;
    // display: inline-block;
    font-size: 160%;
    // margin: 14px 12px;
    // cursor: pointer;
    // font-family: Lucida;
    // border: none;
    // background-color:  rgb(7, 41, 88);
    // color: white;
    // width: 150px;
    // padding:  31% 0%;
}
.button:hover {
    background-color: #666666;
    color: white;
}
.tool-container button {
    font-family: Lucida;
    border: none;
    // background-color:  rgb(7, 41, 88);
    color: white;
    width: 200px;
    padding:  20% 0%;
    font-size: 120%;

}
.tool-container button:hover {
    background-color: #999999;
    color: white;
}
.barre-recherche{
    background-color: #555555;
    padding-bottom: 40px;
    max-width: 250px;
}