<div >
    <form class="example-form"  >
        <mat-form-field class="example-full-width">
          <input 
          type="text"
           placeholder ="Choisir"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          </mat-autocomplete>
        </mat-form-field>
      </form>
      
<div>
  <button (click)= " openDialog()"> Ajouter stagiaire</button>
</div>

    
      <mat-sidenav-container  class="tool-container" *ngFor="let option of filteredOptions| async; let i = index " [value]="option" >
       
         <div>
        <button (click)="stagiareService.selectionStagiere(option)">
            {{option}} 
            </button>
    </div>
    </mat-sidenav-container>
      
  </div>

    
    
    