.example-form {
//   min-width: 200px;
  // max-width: 180px;
  // width: 180px;
// width: 100px;
// min-width: 10px;
background-color: #999999;
color:white;
// height: 100%;
}

.example-full-width {
//   width: 100%;
min-width: 190px;
background-color: #999999;
color: white;
// height: 100%;
}
.example-full-width input {
    height: 50px;
}
.option{ 
    height: 100%;
}
.mat-autocomplete-panel{
    border-radius: 100px;    
  }
  .tool-container{
    width: 200px;
    display: flex;
    // background-color: rgb(7, 41, 88);
    // padding-bottom: 100px;
   
}
.tool-container button {
    font-family: Lucida;
    border: none;
    background-color:  #555555;
    color: white;
    width: 200px;
    padding:  20% 0%;
    font-size: 120%;

}
.tool-container button:hover {
    background-color: #999999;
    color: white;
}

input {
    padding: 8px;
    font-size: 18px;
    // width: 100px
    // border: 1px solid rgb(49, 80, 122);
    border-radius: 3px;
  }
  
 
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
    width: 70px !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    // background-color: blue !important;
    width: 150px;

  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
  //  background-color:blue !important;
   width: 150px;

  }