.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  .example-card {
    // text: middle;
    text-align: center;
    // width: 1320px;
        width: 465%;
        height: 80%;

  }
  .enregistrement-session div{
    padding: 10px;
  }