<div>
<mat-form-field>
    <mat-label>Entrer votre nom</mat-label>
    <input [(ngModel)]="nom" matInput autocomplete="off" required>
    <mat-hint>*min 1 character</mat-hint>
    <mat-error>
        le nom est <strong>requis</strong>
    </mat-error>
</mat-form-field>
<mat-form-field>
    <mat-label>Entrer votre prenom</mat-label>
    <input #inputTag [(ngModel)]="prenom" matInput autocomplete="off" required>
    <mat-hint>*min 1 character</mat-hint>
    <mat-error>
        le prenom est  <strong>requis</strong>
    </mat-error>
</mat-form-field>

<mat-form-field>
    <mat-label>Entrer le nom de la compagnie</mat-label>
    <input #inputTag [(ngModel)]="compagnie" matInput autocomplete="off" required>
    <mat-hint>*min 1 character</mat-hint>
    <mat-error>
        le nom de la compagnie est   <strong>requis</strong>
    </mat-error>
</mat-form-field>
</div>

  
<div>
    <button  mat-button (click)="enregistrer()">enregistrer</button>
    <button  mat-button (click)="annuler()">Annuler</button>

</div>



