
<div  class="header">
    <h1>Orsima</h1>
</div>
  
<div fxLayout="row" class="side-bar-left">

    <mat-sidenav-container class="container">
    
        <mat-nav-list>
            <div class="top">
                <button  class=" button" type="button" mat-button (click)="sidenavService.ouvrirSidNav(0);">
                    <p>Calendrier</p>
                </button >
            
                <button  class=" button" type="button" mat-button (click)="sidenavService.ouvrirSidNav(1)">
                    <p>Catalogue <br>
                        de <br>
                        formation</p>
                    </button>
                <button  class=" button" type="button" mat-button (click)="sidenavService.ouvrirSidNav(2)" >
                    <p>Formateur</p>
                </button>
                <button  class=" button" type="button" mat-button (click)="sidenavService.ouvrirSidNav(3); stagiareService.getStagiaire();">
                    <p>Stagiare</p>
                </button>
            </div>
        </mat-nav-list>
    </mat-sidenav-container>

    <mat-sidenav-container class="tool-container" *ngIf="sidenavService.catalogueDeFormationOuvert" >
        <div>
            <button class=" button" type="button" mat-button (click)="sidenavService.ouvrirSidNavCatalogue(0)">
                DELL
            </button>
            <button class=" button" type="button" mat-button (click)="sidenavService.ouvrirSidNavCatalogue(1)">
                Fortinet
            </button>
            <button class=" button" type="button" mat-button (click)="sidenavService.ouvrirSidNavCatalogue(2)">
                Microsoft
            </button>
            <button class=" button" type="button" mat-button (click)="sidenavService.ouvrirSidNavCatalogue(3)">
                Veritas
            </button>
            <button class=" button" type="button" mat-button (click)="sidenavService.ouvrirSidNavCatalogue(4)">
                VMware
            </button>
        
        </div>
    </mat-sidenav-container>

   
   
   
   
    <mat-sidenav-container class="barre-recherche" *ngIf="sidenavService.dellOuvert" >
       <div>
           <app-barre-recherche></app-barre-recherche>        
       </div>
   </mat-sidenav-container>
   <mat-sidenav-container class="barre-recherche" *ngIf="sidenavService.fortinetOuvert" >
    <div>
        <app-barre-recherche></app-barre-recherche>        
    </div>
</mat-sidenav-container>
<mat-sidenav-container class="barre-recherche" *ngIf="sidenavService.microsoftOuvert" >
    <div>
        <app-barre-recherche></app-barre-recherche>        
    </div>
</mat-sidenav-container>
<mat-sidenav-container class="barre-recherche" *ngIf="sidenavService.veritasOuvert" >
    <div>
        <app-barre-recherche></app-barre-recherche>        
    </div>
</mat-sidenav-container>
<mat-sidenav-container class="barre-recherche" *ngIf="sidenavService.vmwareOuvert" >
    <div>
        <app-barre-recherche></app-barre-recherche>        
    </div>
</mat-sidenav-container>

<mat-sidenav-container class="barre-recherche" *ngIf="sidenavService.stagiaireOuvert" >
    <div>
        <app-stagiaire></app-stagiaire>        
    </div>
</mat-sidenav-container>
<mat-sidenav-container class="barre-recherche" *ngIf="sidenavService.formateurOuvert" >
    <div>
        <app-formateur></app-formateur>        
    </div>
</mat-sidenav-container>

<div *ngIf="sidenavService.calendrierOuvert" >
    <app-calendrier></app-calendrier>

</div>






<div *ngIf="stagiareService.stagiereSelectionner">
    <p>Nom: {{stagiareService.unStagiaire?.nom}}</p>
    <p>Prenom: {{stagiareService.unStagiaire?.prenom}}</p>
    <p>compagnie: {{stagiareService.unStagiaire?.compagnie}}</p>
    
    <div>
        <button  mat-button (click)="supprimerStagiere(stagiareService.unStagiaire.nomPrenom)">Supprimer</button>
    </div>
    <div>
        <button (click)='onModifier(); ajoutElementService.getNomPrenomAModifier(stagiareService.unStagiaire.nomPrenom)'>Modifier</button>
    </div>
</div>



<!-- <div *ngFor="let drawing of tousStagiaire; let i = index" class="drawing">
    
<div>
    <button  mat-button (click)="supprimerStagiere(drawing.nom)">supp</button>
</div> -->
<!-- </div> -->

</div>